---
import { cn } from "@lib/utils";

type Props = {
  size?: "sm" | "md" | "lg" | "xl";
};

const { size = "lg" } = Astro.props;

const maxWidthClass = {
  sm: "max-w-2xl",
  md: "max-w-3xl",
  lg: "max-w-4xl",
  xl: "max-w-5xl",
}[size];
---

<div class={cn(`w-full mx-auto px-3 sm:px-4 md:px-6 lg:px-8 ${maxWidthClass}`)}>
  <slot />
</div>
