<div class="desktop-only">
  <nav class="flex gap-8 text-sm" aria-label="Main">
    <a
      href="/"
      rel="prefetch"
      class="hover:text-neutral-100 transition-all text-[15px]"
      aria-label="Home">Home</a
    >
    <a
      href="/projects"
      rel="prefetch"
      class="hover:text-neutral-100 transition-all text-[15px]"
      aria-label="Projects">Projects</a
    >
    <a
      href="/about"
      rel="prefetch"
      class="hover:text-neutral-100 transition-all text-[15px]"
      aria-label="About">About</a
    >
    <a
      href="/contact"
      rel="prefetch"
      class="hover:text-neutral-100 transition-all text-[15px]"
      aria-label="Contact">Contact</a
    >
  </nav>
</div>
