---
import PageLayout from '@layouts/PageLayout.astro'; // Use alias here as it's standard practice in layouts/pages

const pageTitle = 'Tasks';
const pageDescription = 'Placeholder tasks page.';
---

<PageLayout title={pageTitle} description={pageDescription}>
  <h1>{pageTitle}</h1>
  <p>{pageDescription}</p>
</PageLayout>
